.redux, .react, .js, .node, .css-icon, .html-icon  {
  width: 125px;
}

.css-icon {
  padding: 10px 0;
}

.react {
  fill:#00D8FF;
}

.node-icon {
  margin-right: 8px;
}

.html-icon {

  fill: #e54d26;
}

.icon-wrapper {
  justify-content: center;
  padding: 25px 0;
}


@media screen and (max-width: 1150px) {
  .css-icon {
    padding: 15px 0;
  }
}

@media screen and (max-width: 1040px) {
  .css-icon {
    padding: 20px 0;
  }
}

@media screen and (max-width: 940px) {
  .css-icon {
    padding: 25px 0;
  }
}

@media screen and (max-width: 860px) {
  .css-icon {
    padding: 30px 0;
  }
}

@media screen and (max-width: 730px) {
  .css-icon {
    padding: 35px 0;
  }
}


@media screen and (max-width: 650px) {
  .css-icon {
    padding: 40px 0;
  }
}