.icon-skill {
  width: 150px;
}

h3:hover + li {
  transform: scale(1.3);
  transition: all 1s;
  transform-origin: 10% -10%;
  font-size: 1.2rem;
}

.icon-skill:hover {
  transition: all 1s;
  transform-origin: 50% -50%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.react-icon {
  fill:#00D8FF;
}

.html-icon {
  fill: #e54d26;
}

.icon-skill {
  flex-basis: 28%;
}

.scroll-arrow-wrapper {
  animation: bounce 2s infinite;
  text-align: center;
  bottom: 6%;
  left: 0;
  right: 0;
  position: absolute
}

.scroll-arrow {
  font-size: 62px;
  color: #313f5e;
  background: rgba(255, 255, 255, 0.918);
  border-radius: 50%;
  border: 5.2px solid #313f5e;
}

.arrow-button-wrapper {
  text-align: center;
}

.scroll-arrow-bio {
  font-size: 62px;
  color: #313f5e;
  margin: 0 auto;
	padding: 50px 0;
}

.scroll-arrow-projects {
  font-size: 62px;
  color: #313f5e;
  margin: 0 auto;
  padding-top: 50px;
}


.tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.99);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 0.9rem;
  line-height: 1.3em;
  font-size: 1.2rem;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.email-icon:hover ~ .tooltiptext {
  visibility: visible;
  transform: scale(1.3);
  transition: all 1.5s;
  transform-origin: 100% 500%;
  font-size: 1.2rem;

}

@media screen and (max-width: 1150px) {
.icon-skill {
  width: 120px;
}

}

@media screen and (max-width: 710px) {
  .icon-skill {
    width: 80px;
  }
  
  }

  @media screen and (max-width: 600px) {
    .icon-skill {
      width: 70px;
    }
  }

  @media screen and (max-width: 450px) {
    .icon-skill {
      width: 60px;
    }
  }

/* ----------------------------------------------------------- */
/* ------------------------Animations------------------------- */
/* ----------------------------------------------------------- */
.bounce {
	-webkit-animation: bounce 3s;
	        animation: bounce 3s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-4px);
		        transform: translateY(-4px);
	}
	60% {
		-webkit-transform: translateY(-2px);
		        transform: translateY(-2px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-4px);
		        transform: translateY(-4px);
	}
	60% {
		-webkit-transform: translateY(-2px);
		        transform: translateY(-2px);
	}
}

.bounce2 {
	-webkit-animation: bounce 2s;
	        animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-16px);
		        transform: translateY(-16px);
	}
	60% {
		-webkit-transform: translateY(-8px);
		        transform: translateY(-8px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-16px);
		        transform: translateY(-16px);
	}
	60% {
		-webkit-transform: translateY(-8px);
		        transform: translateY(-8px);
	}
}
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */