*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;  
}

/* -----------------------------------------
font-family: 'Black Ops One', cursive;
font-family: 'Lalezar', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lora', serif;
----------------------------------------- */

main {
  margin-top: 100px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(62,62,62);
}

a {
text-decoration: none;
color: white; 
}

#intro p a {
  color: inherit;
}

.code-symbol {
  width: 45px;
}

header {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.nav-item {
  padding: 20px 15px;
  height: 100%;
}

nav {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  /* background-color: #162749; */
  background: linear-gradient(to bottom right, #12213f, #576786);
  /* #1f3f7e */
}

.nav-right {
  font-size: 1.2rem;
}

.name {
  display: flex;
  align-items: center;
}

#fwd-slash {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-left {
  display: flex;
  align-items: center;
  font-family: 'Lora', serif;
  font-size: 1.6rem;
}

nav ul {
  display: flex;
}
.rook {
  fill: white;
  width: 30px;
}
.angle-bracket {
  font-size: 2rem;
}

hr {
  margin-top: 6px;
}

h1 {
  font-family: 'Lora', serif;
  /* color: rgba(207, 207, 230, 0.85); */
  /* color:	rgb(62,62,62); */
  font-size:1.8rem;
  text-align: center;
  letter-spacing: 1.25px;
  display: inline-block;
  margin: 0 auto;
}

.heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  letter-spacing: 1.5px;
  font-family: 'Lora', serif;
  font-size: 1.65rem;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

#intro {
  max-width: 80%;
  margin: 0 auto;
}

#intro p {
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

#skills {
  border: 2px solid #000;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  padding: 15px;
}

.languages-heading {
  margin-top:30px;
}

.skill-description-wrapper {
  display: flex;
}

.skill-list {
  flex-basis: 33%;
}


.language-list {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
}

.language {
  padding: 28px;
  flex-basis: 33%;
}

section#bio {
  flex-basis:   50%;
  margin: 60px auto 60px;
}

section#bio p {
  text-align: center;
  /* color: rgba(207, 207, 230, 0.81); */
  /* color: #f4f4f4; */
  /* color: rgb(62,62,62); */
  font-size: 1.1rem;
  /* max-width: 900px; */
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: bold;
}

section#skills div {
  /* color:rgba(207, 207, 230, 0.9); */
  color: black;
  /* max-width: 900px; */
  margin: 0 auto;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.3px;
}

#skills {
  margin: 60px auto 60px;
  max-width: 80%;
  text-align: center;
}

.projects-wrapper {
  display: flex;
}

section#projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}

section#projects div, section#projects h3  {
  margin: 15px;
}

section#projects h3 {
  padding-top: 30px;
}

section#projects a {
  color: inherit;
}

section#projects .project-cards {
  margin-bottom: 30px;
}
  
footer section {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  padding-top: 35px;
  margin-top: 100px;
  background: linear-gradient(to top left, #12213f, #576786);
  color:white;
}

footer section a {
  padding: 15px 40px;
  /* width issue  */
  /* padding: 15px 105px 40px; */ 
  
}

footer h2 {
  margin-bottom: 35px;
}

#copyright {
  padding: 35px 0 50px;
}

.icon-wrapper {
  display: flex;
  /* flex-flow: row nowrap; */
  flex-direction: row;
  height: 60px;
}
.icon-skill {
  /* grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  grid-column-gap: 10px;
  grid-row-gap: 15px; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-left: 315px; */
  flex-basis: 16.67%;
}
.skill-description-wrapper {
  display: flex;
}

.skill-description {
  flex-basis: 33%;
}

.project-divs { 
  background-color: rgb(130, 132, 155);
  color: black;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-radius: 2.5px;
  flex-basis: 33%;
  /* min-width: 900px; */
}

.project-description {
  padding: 15px 0 15px;
  /* width: 625px; */
  justify-content: center;
  margin: 0 auto;
}

#bio {
  width: 100%;
}


/* @media screen and (max-width: 901px) {

  .project-divs {
    min-width: 1px;
  }

  section#bio p {
    max-width: 900px;
  }

} */

/* ---------------Responsive Nav Menu CSS--------------- */
.topnav .nav-menu-icon {
  display: none;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.topnav .nav-menu-icon {
  fill: white;
  display: none;
}
/* ----------------------------------------------------- */

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;   
  }
  .rook {
    width: 27px;
  }
  .nav-item {
    margin: 12px;
}
}

@media screen and (max-width: 710px) {

.topnav li a {display: none;}
.topnav a.nav-menu-icon {
  float: right;
  display: flex;  
  padding-right: 12px;
  padding-top: 10px;
  font-size: 1.8rem;  
}

nav ul {
  display: block;
  margin-top: 45px;
}

.topnav.responsive .nav-menu-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

}
