* {
  box-sizing: border-box;
}

html {
  font-size: 16px;  
}

/* -----------------------------------------
font-family: 'Black Ops One', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Lora', serif;
----------------------------------------- */

a {
text-decoration: none;
color: white; 
}


body {

  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(62,62,62);
}

.code-symbol {
  width: 45px;
}

header {
  top: 0px;
  position: sticky !important;
  z-index: 2;
}

.nav-item {
  margin: 17px;
}

nav {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  /* background-color: #162749; */
  background: linear-gradient(to bottom right, #12213f, #576786);
  /* #1f3f7e */
}

.nav-right {
  font-size: 1.4rem;
}

.name {
  display: flex;
  align-items: center;
}
#fwd-slash {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-left {
  display: flex;
  align-items: center;
  font-family: 'Lora', serif;
  font-size: 1.8rem;
}

nav ul {
  display: flex;
}
.rook {
  fill: white;
  width: 40px;
}
.angle-bracket {
  font-size: 2rem;
}

h1 {
  font-family: 'Lora', serif;
  padding-top: 50px;
  /* color: rgba(207, 207, 230, 0.85); */
  /* color:	rgb(62,62,62); */
  font-size:3rem;
  text-align: center;
  letter-spacing: 1.25px;
}

h2 {
  letter-spacing: 1.5px;
  font-family: 'Lora', serif;
  font-size: 2.35rem;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 2rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

section#bio {
  margin: 60px auto 60px;
}

section#bio p {
  text-align: center;
  /* color: rgba(207, 207, 230, 0.81); */
  /* color: #f4f4f4; */
  /* color: rgb(62,62,62); */
  font-size: 1.1rem;
  /* max-width: 900px; */
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: bold;
}

section#skills div {
  /* color:rgba(207, 207, 230, 0.9); */
  color: black;
  /* max-width: 900px; */
  margin: 0 auto;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.3px;
}

#skills {
  margin: 60px auto 60px;
  text-align: center;
}

section#projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}

section#projects div, section#projects h3  {
  margin: 15px;
}

section#projects h3 {
  padding-top: 30px;
}

section#projects a {
  color: inherit;
}

section#projects .project-cards {
  margin-bottom: 30px;
}
  
footer section {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  padding-top: 35px;
  margin-top: 100px;
  background: linear-gradient(to top left, #12213f, #576786);
  color:white;
}

footer section a {
  padding: 15px 105px 40px;
}

footer h2 {
  margin-bottom: 35px;
}

#copyright {
  padding: 35px 0 50px;
}

.project-divs { 
  background-color: rgb(130, 132, 155);
  color: black;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-radius: 2.5px;
  /* min-width: 900px; */
}

.project-description {
  padding: 15px 0 15px;
  /* width: 625px; */
  justify-content: center;
  margin: 0 auto;
}


/* @media screen and (max-width: 901px) {

  .project-divs {
    min-width: 1px;
  }

  section#bio p {
    max-width: 900px;
  }

} */

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;  
  }
}

@media screen and (max-width: 710px) {
  html {
    font-size: 12px;  
  }
}
